@media (orientation: portrait) {
  .herta-logo {
    width: 50%;
    height: 50%;
  }

  progress+p {
    font-size: 10px;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerText,
.warn {
  text-align: center;
}

.app {
  margin-top: 10vh;
}

.herta {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.warn {
  color: #c41515;
  font-weight: 700;
  margin-top: 9px;
}

.progress {
  margin: 0 auto;
  width: min(75vw, 1000px);
}

p:has(+.warn) {
  margin-bottom: 0;
}

.progress+#first-run-label {
  margin-top: 0.5em;
  margin-bottom: 1.75rem;
  font-size: 0.8rem;
}