@media (orientation: portrait) {
  .herta-logo {
    width: 50%;
    height: 50%;
  }

  progress+p {
    font-size: 10px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  text-align: center;
}

.app {
  margin-top: 10vh;
}

.herta-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.warn {
  color: #c41515;
  font-weight: 700;
  margin-top: 9px;
}

p:has(+.warn) {
  margin-bottom: 0;
}

progress {
  margin-bottom: 0 !important;
}

progress+p {
  margin-top: 0.5em;
  margin-bottom: 1.75rem;
  font-size: 0.8rem;
}